/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/

/* ------- Button for links ------- */
.link-button {
    @extend .link-reset;
    color: #000;
    background: #fff;
    border: 1px solid #000;
    padding: 0.75rem $base__space-unit;
    text-transform: uppercase;
    font-family: $font__entry-button;
    font-size: 0.9rem;
    line-height: 1;

    &:hover {
        background: $color__link;
        color: #fff;
    }

    &__color-green {
        @extend .link-button;
        background: $color__link;
        color: #fff;

        &:hover {
            background: $color__button-green-hover;
        }
    }
}