/*--------------------------------------------------------------
# Header Styles
--------------------------------------------------------------*/
.site-header {
    width: 100%;
}


/* ------- Branding Styles ------- */
.site-branding {
    width: 50%;
}


/* ------- Logo styles ------- */

.inhabitent-site-logo {
    background: url($logo__background-url) no-repeat;
    background-size: $logo__background-width $logo__background-height;
    width: $logo__background-width;
    height: $logo__background-height;
}

