/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget-area {
	padding: ($base__space-unit * 2) 0 ($base__space-unit * 2) ($base__space-unit * 2);
	width: 27%;
}

.widget-title {
	margin-top: 0;
	margin-bottom: 2rem;
}


.widget {
	margin: 0 0 ($base__space-unit * 2);

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}

	&.widget_archive ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li a {
			text-decoration: none;
			text-transform: none;
		}
	}

}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}
